.locations{
    display: flex;  
    flex-direction: column;
}

.location {
    display: flex;
    flex-direction: column;
    border: 1px solid #f58a25;
    padding: 20px;
}

.locationContainer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 260px;
    height: auto;
}

span.item {
    background: #fff9f8;
    margin: 4px 0;
    padding: 7px;
}

.btn.deleteLocation , .btn.goLocation {
    padding: 10px;
    font-size: 22px;
    color: #811411;
    border-radius: 5px;
    outline: none;
    border: 2px solid #000;
    cursor: pointer;
    margin: 5px 0;
}

button.deleteLocation:hover {
    color: #ea4335;
}


/****************** LOCATIONS *******************************/
.locations-container{
    margin-top:1rem; 
    background-color: rgb(235, 235, 235);
    padding: 20px;
}

@media(max-width:1201px){
    .map-weather{
        flex-direction: column;
    }
    header nav{
        margin:auto;
    }
}

@media (max-width:580px){
    .input-location{
        display:block;
        margin:auto;
    }
    .input-location .search{
        display:flex;
        flex-direction: column;
    }
    .input-location .search button{
        width:250px;
        margin-top:.6rem;
    }
    .myloc-btn button{
        width:250px;
        margin-top: .6rem;
        padding:0;
    }
}

@media only screen and (min-width: 72px) {
    .locations{
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

